/*   Estilos Barra busqueda   */
   
html, body {margin: 0; padding: 0; border: 0; font-size: 100%;}

body {font: normal 62.5%/1.7em "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif; color: #f6f6f6; padding: 40px;}

/***Form Styles***/
#search_form {background: #0400ff; padding: 10px 190px 10px 10px; border: 3px solid #ffffff; -webkit-border-radius: 10px; -moz-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5), inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5), inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5), inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);}

#search_text {font-size: 20px; color: #5e5e5e; float: left; width: 100%; height: 30px; margin: 0; padding: 5px 10px 5px 10px; border: none; webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5); -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5);}

#search_text:focus {background: #ecf5fd;}

#search_button {background: #ff0019; background: -moz-linear-gradient(top, #ff0019 0%, #ff0019 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0019), color-stop(100%,#ff0019)); background: -webkit-linear-gradient(top, #ff0019 0%,#bd2b39 100%); background: -o-linear-gradient(top, #ff0019 0%,#bd2b39 100%); background: -ms-linear-gradient(top, #ff0019 0%,#bd2b39 100%); background: linear-gradient(top, #ff0019 0%,#bd2b39 100%); font-size: 20px; line-height: 40px; color: #ffffff; text-shadow: 0px 1px 1px #641010; float: right; width: 150px; height: 40px; margin: 0 -180px 0 0; padding: 0; border: 1px solid #ff0019; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);}

#search_button:hover {background: #ff0019; cursor: pointer;}

/***Clear floats***/
.clearfix:before, .clearfix:after {content: ""; display: table;}

.clearfix:after {clear: both;}

.clearfix {zoom: 1;}

/***Form adjustments for the small screen***/
@media screen and (max-width: 799px), screen and (max-width: 768px) and (orientation: portrait) {

    body {padding: 20px;}

    #search_form {padding: 10px 120px 10px 10px;}

    #search_text {font-size: 16px; height: 20px;}
    
    #search_button {font-size: 16px; line-height: 30px; width: 80px; height: 30px; margin: 0 -110px 0 0;}

}


#comment_button {background: #ff0019; background: -moz-linear-gradient(top, #ff0019 0%, #ff0019 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0019), color-stop(100%,#ff0019)); background: -webkit-linear-gradient(top, #ff0019 0%,#bd2b39 100%); background: -o-linear-gradient(top, #ff0019 0%,#bd2b39 100%); background: -ms-linear-gradient(top, #ff0019 0%,#bd2b39 100%); background: linear-gradient(top, #ff0019 0%,#bd2b39 100%); font-size: 20px; line-height: 40px; color: #ffffff; text-shadow: 0px 1px 1px #641010; float: center; width: 150px; height: 40px; margin: 0 0 0 15px; padding: 0; border: 1px solid #ff0019; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);}

#comment_button:hover {background: #ff0019; cursor: pointer;}

.deleteButton {background: #ff0019; background: -moz-linear-gradient(top, #ff0019 0%, #ff0019 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0019), color-stop(100%,#ff0019)); background: -webkit-linear-gradient(top, #ff0019 0%,#bd2b39 100%); background: -o-linear-gradient(top, #ff0019 0%,#bd2b39 100%); background: -ms-linear-gradient(top, #ff0019 0%,#bd2b39 100%); background: linear-gradient(top, #ff0019 0%,#bd2b39 100%);float:right; font-size: 15px; line-height: 30px; color: #ffffff; text-shadow: 0px 1px 1px #641010; float: center; width: 100px; height: 30px; margin: 0 0 0 10px; padding: 0; border: 1px solid #ff0019; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);}

.deleteButton:hover {background: #ff0019; cursor: pointer;}
   
   /*---CABECERA---*/
.cabecera {
    padding: 10px;
    height: 53px;
    background-color: black;
    color: white;
    border-bottom: 1px solid gray;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

#logo-cabecera{
    width: 200px;
    height: 50px;
    padding: 5px;
    float: left;
}


.cabecera #enlaces{
    max-height: 48px;
    float: middle;
    color: white;
    text-decoration: none;
    text-align: right;
    font-size: 20px;
    padding: 30px;
}

#enlaces a {
    max-height: 48px;
    float: middle;
    color: white;
    text-decoration: none;
    text-align: right;
    font-size: 20px;
    padding: 1px;
    margin: 7px;
}

    /*---FIN CABECERA---*/

    /*---PIE---*/
.pie {
    clear: both;
    height: 90px;
    padding: 5px;
    background-color: black;
    text-align: center;
    margin-top: 15px;
}

#logout  {
    background: transparent;
    color: white;
    float: middle;
    margin: 7px;
}

/*---FIN DE PIE---*/

body{
  background-color: black;
  background-size: cover;
}

/*---home peliculas---*/

.cuerpo_peliculas{
    margin-top:70px;
    height: auto;
    text-align: left;
    color: white;
}

.indexPeliculas {
  display: inline-flex;
  justify-content: space-between;
}

#button_title {
    background-color: white;
    border: none;
    color: black;
    width:220px;
    height:50px;
    text-align: center;
    font-size: 16px;
    font-family: monospace;
    position:absolute;
}

div.texto_inicio {
    text-align: center;
    color: white;
    font-size: 45px;
    font-family: monospace;
}
div.texto_search {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: monospace;
    margin: 55px 0 0 0;
}
div.texto_perfil {
    margin-top: 100px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: monospace;
}

#image_inicio {
    display: inline;
    text-align: left;
    width: 220px;
    height: 360px;
}

#image_usuario {
    text-indent: 200px;
    display: inline;
    text-align: left;
    width: 220px;
    height: 360px;
}


#image_perfil {
    float: left;
    width:150px;
    height:150px;
    border-radius:75px;
    border:5px solid #666;
}

/*---pelicula ejemplo---*/

.pelicula h1 {
    text-align: center;
    color: white;
    font-size: 45px;
    font-family: monospace;
}

.pelicula h2 {
    color: white;
    font-size:  20px;
    font-family: monospace;
}

.pelicula p {
    color: white;
    font-size: 15px;
    font-family: monospace;
    line-height: 30px;
}

#image_info {
    float: left;
    width: 300px;
    height: 400px;
    padding:  10px;
}

.contenedor {
    font-family:  italic;
}

/* perfil */

.editarPerfil{
        font-size: 22px;
        color: #000;
        background-color: #ffffff;
        padding: 15px;
        text-align: center;
}


.card {
    box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    float: left;
  }

.botonEditarPerfil {
    padding: 4px;
    color: white;
    justify-content: center;
    background-color: rgb(60, 60, 60);
    text-align: center;
    cursor: pointer;
    width: 95%;
    margin-right: 0.5em;
    font-size: 20px;
    font: monospace;
}

.botones {
    background-color: white;
    display: flex;
    color:  black;
    font-family: monospace;
    position:center;
}

.botonAmigos {
	background-color: blue;
    border: 3px;
    color: white;
    width:150px;
    height:50px;
    font-size: 20px;
    font-family: monospace;
    top:45%; 
    left:45%;
}

.cardRightText {
    text-indent: 30px;
}

.title {
    color: grey;
    font-size: 18px;
}
  
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: #0400ff;
}

button:hover,
a:hover {
    opacity: 0.7;
}

.logout {
    font-size: 22px;
    color: #000;
    background-color: #ffffff;
    padding: 15px;
    text-align: center;
}


/* editar perfil */

.editar h1 {
    text-align: center;
    color: white;
    font-family: Times New Roman;
    }

#navlist li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
.search {
    border: 8px solid #0400ff;
    border-radius: 1em;
height: 3%;
width: 60%;
margin: 5% 20%;
}

.search h1 {
    color: white;
margin: 10% 12%;
display: inline-block;
vertical-align: top;
}

.search #imgU_search {
margin: 3% 1em;
    width: 12%;
    height: 15%;

}

.admin h1{
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    text-shadow: 0 0 2px #de812a;
    color: red;
    font-family: serif;
  }
.admin table{
    color: white;
    table-layout: fixed;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    border-collapse: collapse;
    border: 5px solid red;
  }
.admin td{
    background-color: black;
    border: 2px solid #5a330e;
    text-align: center;
 font-size: 20px;
  }

.admin th{
    background-color: blue;
    border: 2px solid red;
    border-spacing: 0;
    padding: 20px;
    text-align: center;
 font-size: 25px;

  }



#contenedorAmigos {
    text-align: left;
    color: white;
    font-size: 30px;
    font-family: monospace;
}


#contenedorNoAmigos {
    text-align: left;
    color: white;
    font-size: 30px;
    font-family: monospace;
}

.friends h1{
    text-align: left;
    color: white;
    font-size: 30px;
    font-family: monospace;
}

.friends h2 {
    text-align: left;
    color: white;
    font-size: 20px;
    font-family: monospace;
}

.addFriends h1 {
    text-align: right;
    color: white;
    font-size: 30px;   
}

.addFriends {
    text-align: right;
    color: white;
    font-size: 20px;
    font-family: monospace;
}

.flexbox-container {
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
}

.flexbox-container > div {
        width: 50%;
        padding: 10px;
}

.flexbox-container > div:first-child {
        margin-right: 20px;
}

#imagePreview {
    width: 220px;
    height: 360px;
}

/**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/

/** ====================
* Lista de Comentarios
=======================*/
.comments-container {
   margin: 60px auto 15px;
   width: 768px;
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;

}

.comments-container h1 {
   font-size: 36px;
   color: #283035;
   font-weight: 400;
}

.comments-container h1 a {
   font-size: 18px;
   font-weight: 700;
}

.comments-list {
   margin-top: 30px;
   position: relative;
}

.comment-imagen{
    width: 25%;
        height: 25%;
    margin-right: 15px;
}

/**
* Lineas / Detalles
-----------------------*/
.comments-list:before {
   content: '';
   width: 2px;
   height: 100%;
   background: #c7cacb;
   position: absolute;
   left: 32px;
   top: 0;
}

.comments-list:after {
   content: '';
   position: absolute;
   background: #c7cacb;
   bottom: 0;
   left: 27px;
   width: 7px;
   height: 7px;
   border: 3px solid #dee1e3;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
}


.comments-list li {
   margin-bottom: 15px;
   display: block;
   position: relative;
}

.comments-list li:after {
   content: '';
   display: block;
   clear: both;
   height: 0;
   width: 0;
}

/**
* Avatar
---------------------------*/
.comments-list .comment-avatar {
   width: 65px;
   height: 65px;
   position: relative;
   z-index: 99;
   float: left;
   border: 3px solid #FFF;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   overflow: hidden;

}

.comments-list .comment-avatar img {
   width: 100%;
   height: 100%;
}


.comment-main-level:after {
   content: '';
   width: 0;
   height: 0;
   display: block;
   clear: both;
}
/**
* Caja del Comentario
---------------------------*/
.comments-list .comment-box {
   width: 680px;
   float: right;
   position: relative;
   -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
   -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
   box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
   content: '';
   height: 0;
   width: 0;
   position: absolute;
   display: block;
   border-width: 10px 12px 10px 0;
   border-style: solid;
   border-color: transparent #FCFCFC;
   top: 8px;
   left: -11px;
}

.comments-list .comment-box:before {
   border-width: 11px 13px 11px 0;
   border-color: transparent rgba(0,0,0,0.05);
   left: -12px;
}

.comment-box .comment-head {
   background: #FCFCFC;
   padding: 10px 12px;
   border-bottom: 1px solid #E5E5E5;
   overflow: hidden;
   -webkit-border-radius: 4px 4px 0 0;
   -moz-border-radius: 4px 4px 0 0;
   border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
   float: right;
   margin-left: 14px;
   position: relative;
   top: 2px;
   color: #A6A6A6;
   cursor: pointer;
   -webkit-transition: color 0.3s ease;
   -o-transition: color 0.3s ease;
   transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
   color: #03658c;
}

.comment-box .comment-name {
   color: #283035;
   font-size: 14px;
   font-weight: 700;
   float: left;
   margin-right: 10px;
}

.comment-box .comment-name a {
   color: #283035;
}

.comment-box .comment-head span {
   float: left;
   color: #999;
   font-size: 13px;
   position: relative;
   top: 1px;
}

.comment-box .comment-content {
   background: #FFF;
   padding: 12px;
   font-size: 15px;
   color: #595959;
   -webkit-border-radius: 0 0 4px 4px;
   -moz-border-radius: 0 0 4px 4px;
   border-radius: 0 0 4px 4px;
}


/** =====================
* Responsive
========================*/
@media only screen and (max-width: 766px) {
   .comments-container {
       width: 480px;
   }

   .comments-list .comment-box {
       width: 390px;
   }

   .reply-list .comment-box {
       width: 320px;
   }
}
