/*   Estilos Barra busqueda   */
   
html, body {margin: 0; padding: 0; border: 0; font-size: 100%;}

body {font: normal 62.5%/1.7em "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif; color: #f6f6f6; padding: 40px;}

/***Form Styles***/
#search_form {background: #0400ff; padding: 10px 190px 10px 10px; border: 3px solid #ffffff; -webkit-border-radius: 10px; -moz-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5), inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5), inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5), inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);}

#search_text {font-size: 20px; color: #5e5e5e; float: left; width: 100%; height: 30px; margin: 0; padding: 5px 10px 5px 10px; border: none; webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5); -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5);}

#search_text:focus {background: #ecf5fd;}

#search_button {background: #ff0019; background: -moz-linear-gradient(top, #ff0019 0%, #ff0019 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0019), color-stop(100%,#ff0019)); background: -webkit-linear-gradient(top, #ff0019 0%,#bd2b39 100%); background: -o-linear-gradient(top, #ff0019 0%,#bd2b39 100%); background: -ms-linear-gradient(top, #ff0019 0%,#bd2b39 100%); background: linear-gradient(top, #ff0019 0%,#bd2b39 100%); font-size: 20px; line-height: 40px; color: #ffffff; text-shadow: 0px 1px 1px #641010; float: right; width: 150px; height: 40px; margin: 0 -180px 0 0; padding: 0; border: 1px solid #ff0019; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);}

#search_button:hover {background: #ff0019; cursor: pointer;}

/***Clear floats***/
.clearfix:before, .clearfix:after {content: ""; display: table;}

.clearfix:after {clear: both;}

.clearfix {zoom: 1;}

/***Form adjustments for the small screen***/
@media screen and (max-width: 799px), screen and (max-width: 768px) and (orientation: portrait) {

    body {padding: 20px;}

    #search_form {padding: 10px 120px 10px 10px;}

    #search_text {font-size: 16px; height: 20px;}
    
    #search_button {font-size: 16px; line-height: 30px; width: 80px; height: 30px; margin: 0 -110px 0 0;}

}
   
   
   /*---CABECERA---*/
.cabecera {
    padding: 10px;
    height: 53px;
    background-color: black;
    color: white;
    border-bottom: 1px solid gray;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

#logo-cabecera{
    width: 200px;
    height: 50px;
    padding: 5px;
    float: left;
}


.cabecera #enlaces{
    max-height: 48px;
    float: middle;
    color: white;
    text-decoration: none;
    text-align: right;
    font-size: 20px;
    padding: 30px;
}

#enlaces a {
    max-height: 48px;
    float: middle;
    color: white;
    text-decoration: none;
    text-align: right;
    font-size: 20px;
    padding: 1px;
    margin: 7px;
}

    /*---FIN CABECERA---*/

    /*---PIE---*/
.pie {
    clear: both;
    height: 90px;
    padding: 5px;
    background-color: black;
    text-align: center;
    margin-top: 15px;
}

#logout  {
    background: transparent;
    color: white;
    float: middle;
    margin: 7px;
}

/*---FIN DE PIE---*/

body{
  background-color: black;
  background-size: cover;
}

/*---home peliculas---*/

.cuerpo_peliculas{
    margin-top:70px;
    height: auto;
    text-align: left;
    color: white;
}

.indexPeliculas {
  display: inline-flex;
  justify-content: space-between;
}

#button_title {
    background-color: white;
    border: none;
    color: black;
    width:220px;
    height:50px;
    text-align: center;
    font-size: 16px;
    font-family: monospace;
    position:absolute;
}

div.texto_inicio {
    text-align: center;
    color: white;
    font-size: 45px;
    font-family: monospace;
}
div.texto_search {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: monospace;
    margin: 55px 0 0 0;
}
div.texto_perfil {
    margin-top: 100px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: monospace;
}

#image_inicio {
    display: inline;
    text-align: left;
    width: 220px;
    height: 360px;
}

#image_usuario {
    text-indent: 200px;
    display: inline;
    text-align: left;
    width: 220px;
    height: 360px;
}


#image_perfil {
    float: left;
    width:150px;
    height:150px;
    border-radius:75px;
    border:5px solid #666;
}

/*---pelicula ejemplo---*/

.pelicula h1 {
    text-align: center;
    color: white;
    font-size: 45px;
    font-family: monospace;
}

.pelicula h2 {
    color: white;
    font-size:  20px;
    font-family: monospace;
}

.pelicula p {
    color: white;
    font-size: 15px;
    font-family: monospace;
    line-height: 30px;
}

#image_info {
    float: left;
    width: 300px;
    height: 400px;
    padding:  10px;
}

/* perfil */

.editarPerfil{
        font-size: 22px;
        color: #000;
        background-color: #ffffff;
        padding: 15px;
        text-align: center;
}


.card {
    box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    float: left;
  }

.botonEditarPerfil {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 4px;
    color: white;
    background-color: rgb(60, 60, 60);
    text-align: center;
    cursor: pointer;
    width: 95%;
    font-size: 18px;
}

.botonEditaryBorrar {
    background-color: white;
    border: 3px;
    color: black;
    width:150px;
    height:50px;
    font-size: 16px;
    font-family: monospace;
    position:relative;
    top:45%; 
    left:45%;
}

.botonAmigos {
	background-color: blue;
    border: 3px;
    color: white;
    width:150px;
    height:50px;
    font-size: 20px;
    font-family: monospace;
    top:45%; 
    left:45%;
}

.cardRightText {
    text-indent: 30px;
}

.title {
    color: grey;
    font-size: 18px;
}
  
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: #0400ff;
    
}

button:hover,
a:hover {
    opacity: 0.7;
}

.logout {
    font-size: 22px;
    color: #000;
    background-color: #ffffff;
    padding: 15px;
    text-align: center;
}


/* editar perfil */

.editar h1 {
    text-align: center;
    color: white;
    font-family: Times New Roman;
    }

#navlist li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
.search {
    border: 8px solid #0400ff;
    border-radius: 1em;
	height: 275px;
	width: 1500px;
	margin: 2% 5% 2% 20%;
}

.search h1 {
    color: white;
	margin: 130px 150px 50px 80px;
	display: inline-block;
	vertical-align: top;
}

.search #imgU_search {
margin: 12px 1em 50px 8%;
    width: 150px;
    height: 250px;

}
td {
    vertical-align: middle;
    text-align: center;
}

td div {
    vertical-align: middle;
    display: inline-block;
}


#contenedorAmigos {
    text-align: left;
    color: white;
    font-size: 30px;
    font-family: monospace;
}


#contenedorNoAmigos {
    text-align: left;
    color: white;
    font-size: 30px;
    font-family: monospace;
}

.friends h1{
    text-align: left;
    color: white;
    font-size: 30px;
    font-family: monospace;
}

.friends h2 {
    text-align: left;
    color: white;
    font-size: 20px;
    font-family: monospace;
}

.addFriends h1 {
    text-align: right;
    color: white;
    font-size: 30px;   
}

.addFriends {
    text-align: right;
    color: white;
    font-size: 20px;
    font-family: monospace;
}

.flexbox-container {
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
}

.flexbox-container > div {
        width: 50%;
        padding: 10px;
}

.flexbox-container > div:first-child {
        margin-right: 20px;
}